@charset "utf-8";
/* Concrete Solutions - Deploy Page */
/* Versão 1.0 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }

html { width: 100%; background: #F0F0F0; }
body { width: 320px; font: 20px arial, sans-serif; color: #757575; }

header > h1 { height: 48px; text-indent: -99999em; background: url(../imgs/logo.png) center center no-repeat; }
header { margin: 0 10px; border-bottom: 1px solid #FFF; }

article { margin: 0 10px; padding: 20px 10px; border-top: 1px solid #E4E2E2; }
article > img { float: left; margin-right: 10px; }
article > h1 { min-height: 50px; line-height: 50px; font-weight: bold; overflow: hidden; }
article > p { padding-bottom: 20px; margin: 10px 0 10px; border-bottom: 1px solid #CCC; }

section { padding: 10px 0; border-bottom: 1px dashed #CCC; }


h1 { font-size: 1.2em; color: #202020; }
h2 { font-size: 1em; color: #7A68AE; margin: 0.5em 0; }

p { font-size: 0.6em; line-height: 1.2em; margin-bottom: 0.75em; }

smal { font-size: 0.7em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

ul { margin-top: 0.5em; font-size: 0.8em; }
li { margin-left: 1.5em; padding: 0.25em 0; }

.label { font-weight: bold; }

a.btn-download { display: block; width: 220px; height: 45px; text-indent: -9999px; margin: 20px 0; background: url(../imgs/sprite.png) 0 0  no-repeat; }
a.btn-download:hover { text-decoration: none; background-position: 0 -44px; }

